@page "/Assets"
@inject NavigationManager navigate
@inject AssetService ser
@inject IJSRuntime js

<AuthorizeView>
    <Authorized>
        <PageTitle>@ApplicationResource.Materials</PageTitle>

        <div class="panel panel-info">
            <div class="panel-heading d-flex justify-content-between">
                <h5>@ApplicationResource.Materials</h5>
                <div>
                    <button class="btn btn-outline-dark rounded-pill" @onclick="AddNew">@ApplicationResource.MaterialAdd</button>
                </div>

            </div>
            <div class="panel-body">
                <div class="table-responsive nomargin">

                    @if (lst_AssetDTO != null && lst_AssetDTO.Count > 0)
                    {
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th><i class="fa  pull-right hidden-xs"></i>@ApplicationResource.Material </th>
                                    <th><i class="fa  pull-right hidden-xs"></i> </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var r in lst_AssetDTO)
                                {
                                    <tr>
                                        <td>@r.Name</td>
                                        <td>
                                            <a class="edit" title="Edit" data-toggle="tooltip" href="@($"/EditAsset/{r.Id}")"><i class="material-icons">&#xE254;</i></a>
                                            <a class="delete" title="Delete" data-toggle="tooltip" href="@($"/DeleteAsset/{r.Id}")"><i class="material-icons text-danger">&#xE872;</i></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                    else if (lst_AssetDTO.Count == 0)
                    {
                        <div class="alert alert-primary" role="alert">
                            @ApplicationResource.Msg_Thers_is_no_data
                        </div>
                    }
                    else
                    {
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        <div class="alert alert-danger" role="alert">
            you are not authoriazed
        </div>
    </NotAuthorized>
</AuthorizeView>



@code {
    List<AssetDTO>? lst_AssetDTO = new();

    protected override async Task OnInitializedAsync()
    {
        lst_AssetDTO = await ser.GetAll();
    }


    void AddNew()
    {
        navigate.NavigateTo("/AddAsset");
    }


}
