@page "/Tanks"
@inject NavigationManager navigate
@inject TankService ser
@inject CenterService cSer
@inject IStringLocalizer<ApplicationResource> localizer
@inject IJSRuntime js

<AuthorizeView>
    <Authorized>
        <PageTitle>@ApplicationResource.fuel_qty</PageTitle>
        @if (lst_centerDTO != null && lst_centerDTO.Count > 0)
        {
            <div class="panel panel-info">
                <div class="panel-heading d-flex justify-content-between">
                    <div>
                        <h5>@ApplicationResource.fuel_qty</h5>
                    </div>

                    <div class="d-inline-flex">
                        <select @onchange="Search" class="form-control">
                            <option value="">@ApplicationResource.Choose_Station</option>
                            @foreach (var item in lst_centerDTO)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive nomargin">

                        @if (lst_tankDTO != null && lst_tankDTO.Count > 0)
                        {
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th><i class="fa  pull-right hidden-xs"></i>@ApplicationResource.Tank </th>
                                        <th><i class="fa  pull-right hidden-xs"></i>@ApplicationResource.Qty</th>

                                        <th><i class="fa  pull-right hidden-xs"></i> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var r in lst_tankDTO)
                                    {
                                        <tr>
                                            <td>@r.Name</td>
                                            <td>@r.QTY</td>
                                            <td>
                                                <a class="edit" title="@ApplicationResource.Edit" data-toggle="tooltip" href="@($"/EditCenterAsset/{r.Id}")"><i class="material-icons">&#xE254;</i></a>
                                                <a class="delete" title="@ApplicationResource.Delete" data-toggle="tooltip" href="@($"/DeleteCenterAsset/{r.Id}")"><i class="material-icons">&#xE872;</i></a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        }
                        else if (lst_tankDTO == null)
                        {
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-primary" role="alert">
                                @ApplicationResource.Msg_Thers_is_no_data
                            </div>
                        }
                    </div>

                </div>
            </div>
        }
        else
        {
            <div class="alert alert-primary" role="alert">
                @ApplicationResource.Msg_Thers_is_no_data
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-danger" role="alert">
            @ApplicationResource.you_are_not_authoriazed
        </div>
    </NotAuthorized>
</AuthorizeView>



@code {
    private List<TankDTO>? lst_tankDTO = new();
    private List<CenterDTO>? lst_centerDTO = new();


    protected override async Task OnInitializedAsync()
    {
        lst_centerDTO = await cSer.GetStation();
    }


    void AddNew()
    {
        navigate.NavigateTo("/AddCenterAsset");
    }


    async void Search(ChangeEventArgs e)
    {
        if (!string.IsNullOrWhiteSpace(e.Value.ToString()))
        {
            var id = Convert.ToInt32(e.Value);
            lst_tankDTO = await ser.GetById(id);
            StateHasChanged();
        }
        else
        {
            lst_tankDTO = null;
            await js.InvokeVoidAsync(@ApplicationResource.alert, @ApplicationResource.Choose_Station_Please);
        }
    }

}
