@page "/AddCenter"
@page "/EditCenter/{Id:int}"
@inject CenterService centerService
@inject AuthenticationHttpClient user
@inject NavigationManager navManager
@inject IJSRuntime js
<AuthorizeView Context="aContext">
    <Authorized>
        <PageTitle>@title</PageTitle>

        <div class="card">
            <div class="card-header">
                @title
            </div>
            <div class="card-body">
                <EditForm Model="centerDTO" OnValidSubmit="Save">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group">
                      
                        <label>@ApplicationResource.center</label>
                        <InputText class="form-control mb-2" @bind-Value="centerDTO.Name" placeholder="@ApplicationResource.center"></InputText>
                       
                        <label>@ApplicationResource.supervisor</label>
                        <InputSelect class="form-control mb-2" @bind-Value="centerDTO.User_Id">
                            <option value="">@ApplicationResource.Choose_supervisor</option>
                            @foreach (var item in lst_Users)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </InputSelect>
                        
                        <label>@ApplicationResource.centerType</label>
                        <InputSelect class="form-control mb-2" @bind-Value="centerDTO.Type">
                            <option value="">@ApplicationResource.Choose_centerType</option>
                            <option value="Station">@ApplicationResource.Station</option>
                            <option value="MainOffice">@ApplicationResource.mainOffice</option>

                        </InputSelect>
                        <div class="form-group d-flex justify-content-center">
                            <button class="btn btn-primary mx-2" type="submit">@ApplicationResource.save</button>
                            <button class="btn btn-dark" @onclick="Cancel">@ApplicationResource.save</button>
                        </div>
                    </div>

                </EditForm>
            </div>
        </div>


    </Authorized>
    <NotAuthorized>
        <div class="alert alert-danger" role="alert">
            @ApplicationResource.you_are_not_authoriazed
        </div>
    </NotAuthorized>
</AuthorizeView>





@code {
    [Parameter]
    public int Id { get; set; }
    private CenterDTO? centerDTO = new();
    protected string title = "";

    private List<UserDTO>? lst_Users { get; set; } = new();


    protected override async Task OnParametersSetAsync()
    {
        lst_Users = await user.GetUsers();
        if (Id > 0)
        {
            centerDTO = await centerService.GetById(Id);
            title = @ApplicationResource.centerEdit;
        }
        else
        {
            title = @ApplicationResource.centerAdd;
        }
    }

    async void Save()
    {
        bool result = false;

        if (Id > 0)
        {
            result = await centerService.Update(centerDTO, Id);
        }
        else
        {
            result = await centerService.Insert(centerDTO);
        }

        if (result)
        {
            navManager.NavigateTo("/Centers");
        }
        else
        {
            await js.InvokeVoidAsync("alert", @ApplicationResource.there_is_a_problem);
        }
    }

    void Cancel()
    {
        navManager.NavigateTo("/Centers");
    }

}
